* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
}

button {
    color: black;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
    min-height: 100vh;
}

.title-container {
    font-size: 1.5rem;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.single-question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    border: 0.5px solid lightskyblue;
    border-radius: 5px;
    padding: 20px 50px;
}

.answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-content: center;
}

.answer-btn, .check-btn, .reset-btn, .start-btn {
    background-color: white;
    border: 2px solid lightskyblue;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.answer-btn.clicked {
    background-color: lightskyblue;
    color: white;
}

.check-btn:hover {
    background-color: lightskyblue;
    color: white;
}

.alert-container {
    visibility: hidden;
    width: 300px;
    background-color: rgb(233, 179, 179);
    text-align: center;
    border-radius: 5px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.answer-btn.correct {
    background-color: rgb(162, 231, 162);
}
.answer-btn.incorrect {
    background-color: rgb(233, 179, 179);
}

.score-container {
    visibility: hidden;
    color: rgb(22, 188, 22);
    padding-bottom: 100px;
}
/* visibility changes */
.visibility-show {
    visibility: visible;
}

.visibility-hide {
    visibility: hidden;
}

.display-hide {
    display: none;
}

.display-block {
    display: block;
}
